/*banner y navegador*/
header {
  background-color: #ea86b6; }

body {
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  background-image: linear-gradient(#ea86b6, #ffe6ff); }

div ul li a {
  color: #cc0e74;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px outset #cc0e74;
  margin: 10px 10px;
  font-family: Sanvito, Corsiva;
  font-style: oblique;
  display: inline-block; }

div ul li a:hover {
  padding: 15px 15px;
  margin: 16px 16px;
  color: #790c5a;
  border: 3px outset #790c5a; }

.contenedor-banner {
  background-image: URL("../images/imagenes.jpg");
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; }

.banner__wedding {
  color: #e60099;
  font-size: 2.7rem;
  font-family: garamond;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  text-align: right;
  margin: 10px 15px; }

.banner__logo {
  height: 150px;
  padding-left: 40px; }

/*fotter*/
.contenedor-footer {
  background-image: URL("../images/imagenes.jpg");
  width: 100%;
  height: 100%; }

.footer__contact {
  color: #ea86b6;
  font-family: Garamond;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold; }

.footer__item1 {
  color: #cc0e74;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px outset #cc0e74;
  margin: 10px 10px;
  padding: 8px;
  font-family: Sanvito, Corsiva;
  background-color: #ea86b6;
  font-style: oblique;
  position: relative;
  float: right; }

.footer__item2 {
  color: #cc0e74;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px outset #cc0e74;
  margin: 10px 10px;
  padding: 8px;
  font-family: Sanvito, Corsiva;
  background-color: #ea86b6;
  font-style: oblique;
  position: relative;
  float: right; }

.footer__item3 {
  color: #cc0e74;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px outset #cc0e74;
  margin: 10px 10px;
  padding: 8px;
  font-family: Sanvito, Corsiva;
  background-color: #ea86b6;
  font-style: oblique;
  position: relative;
  float: right; }

ol li {
  list-style: none; }

.footer__redes {
  display: flex; }

.redes1 {
  height: 30px;
  width: 30px;
  margin: 0 2px 5px; }

.redes2 {
  height: 30px;
  width: 30px;
  margin: 0 2px 5px; }

.redes3 {
  height: 30px;
  width: 30px;
  margin: 0 2px 5px; }

a:hover {
  color: #990099;
  text-decoration: none;
  padding: 15px 15px;
  margin: 16px 16px;
  color: #790c5a; }

nav ul {
  list-style: none;
  font-size: 20px; }
  nav ul li {
    font-size: 20px;
    position: relative;
    margin-bottom: 10px; }
    nav ul li li {
      position: absolute;
      display: none;
      padding: 13px; }
    nav ul li li {
      display: block;
      width: 20px; }

/*quienes somos*/
.contenedor-nosotros {
  background: #f0a8cb;
  margin: 23px 10px 20px 10px;
  overflow: hidden;
  padding: 20px;
  border: 5px solid #f0a8cb;
  border-radius: 99px 99px 99px 99px;
  -moz-border-radius: 99px 99px 99px 99px;
  -webkit-border-radius: 99px 99px 99px 99px;
  -webkit-box-shadow: 0px 3px 28px 11px #e467a4;
  -moz-box-shadow: 0px 3px 28px 11px #e467a4;
  box-shadow: 0px 3px 28px 11px #e467a4; }

.nosotros__titulos {
  color: #cc0e74;
  text-align: center;
  font-size: 3.4rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold; }

.nosotros__textos {
  color: #dd3c8a;
  font-size: 1.8rem;
  font-family: garamond;
  font-weight: bold;
  padding: 10px;
  margin: 25px 39px 37px;
  text-align: center;
  text-transform: capitalize; }

/*nuestras novia*/
.novias__titulos {
  color: #cc0e74;
  text-align: center;
  font-size: 3.4rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold; }

.novias__texto {
  color: #dd3c8a;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 35px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; }

.novias__nombres {
  color: #e05297;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  padding: 35px; }

/*vestidos*/
.contenedor-vestidos {
  color: #cc0e74;
  text-align: center;
  font-size: 3.4rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold; }

.vestidos__titulos {
  color: #e05297;
  text-align: center;
  font-size: 2rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
  font-weight: 900;
  padding: 40px 10px 10px; }

.vestidos__textos {
  color: #dd3c8a;
  text-align: center;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: garamond;
  font-style: italic;
  margin: 0 auto;
  padding: 28px; }

/*weddingplanning*/
.contenedor-planner {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: #ea86b6;
  margin: 20px 25px 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 163px 0px 125px 5px;
  border: 3px solid #ea86b6;
  -webkit-box-shadow: 17px 4px 26px 0px #e467a4;
  -moz-box-shadow: 17px 4px 26px 0px #e467a4;
  box-shadow: 17px 4px 26px 0px #e467a4; }

.planner__lista {
  list-style: none;
  text-transform: uppercase; }

.planner__textos {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 28px; }

fieldset {
  border: 2rem dotted #999;
  text-align: center;
  border-style: none;
  padding: 20px; }
  fieldset label {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-transform: uppercase; }

select {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase; }

input {
  width: 150px;
  height: 31px;
  transition: all 2s;
  text-transform: capitalize; }

input:focus {
  width: 220px;
  font-size: 24px; }

.formulario {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem; }

@media (min-width: 576px) {
  body {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(#ea86b6, #ffe6ff); }
  header a {
    display: flex;
    flex-direction: row;
    font-size: 20px; }
  .contenedor-banner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .banner__logo {
    height: 100px;
    padding-left: 15px; }
  .banner__wedding {
    font-size: 3.2rem;
    text-align: center;
    font-weight: bold; }
  .footer__item1 {
    display: none; }
  .footer__item2 {
    display: none; }
  .footer__item3 {
    display: none; }
  .footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  ol li {
    list-style: none; }
  .redes1 {
    height: 50px;
    width: 50px;
    justify-content: center; }
  .redes2 {
    height: 50px;
    width: 50px;
    justify-content: center; }
  .redes3 {
    height: 50px;
    width: 50px;
    justify-content: center; }
  .footer__contact {
    font-size: 3.5em;
    padding: 5px 5px;
    margin: 2px 2px;
    text-align: center; }
  .vestidos__titulos {
    color: #e05297;
    text-align: center;
    font-size: 2rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    font-weight: 900;
    padding: 40px 10px 10px; }
  .vestidos__textos {
    color: #dd3c8a;
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    font-family: garamond;
    font-style: italic;
    margin: 0 auto;
    padding: 28px; } }

@media (min-width: 768px) {
  header {
    background-color: #ea86b6; }
  body {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(#ea86b6, #ffe6ff); }
  div ul li a {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    font-family: Sanvito, Corsiva;
    font-style: oblique;
    display: inline-block; }
  div ul li a:hover {
    padding: 15px 15px;
    margin: 16px 16px;
    color: #790c5a;
    border: 3px outset #790c5a; }
  .contenedor-banner {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
  .banner__wedding {
    color: #e60099;
    font-size: 2.7rem;
    font-family: garamond;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    margin: 10px 15px; }
  .banner__logo {
    height: 150px;
    padding-left: 40px; }
  .contenedor-footer {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 100%; }
  .footer__contact {
    color: #ea86b6;
    font-family: Garamond;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold; }
  .footer__item1 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item2 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item3 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .vestidos__titulos {
    color: #e05297;
    text-align: center;
    font-size: 2rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    font-weight: 900;
    padding: 40px 10px 10px; }
  .vestidos__textos {
    color: #dd3c8a;
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    font-family: garamond;
    font-style: italic;
    margin: 0 auto;
    padding: 28px; } }

@media (min-width: 992px) {
  header {
    background-color: #ea86b6; }
  body {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(#ea86b6, #ffe6ff); }
  div ul li a {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    font-family: Sanvito, Corsiva;
    font-style: oblique;
    display: inline-block; }
  div ul li a:hover {
    padding: 15px 15px;
    margin: 16px 16px;
    color: #790c5a;
    border: 3px outset #790c5a; }
  .contenedor-banner {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
  .banner__wedding {
    color: #e60099;
    font-size: 2.7rem;
    font-family: garamond;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    margin: 10px 15px; }
  .banner__logo {
    height: 150px;
    padding-left: 40px; }
  .contenedor-footer {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 100%; }
  .footer__contact {
    color: #ea86b6;
    font-family: Garamond;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold; }
  .footer__item1 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item2 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item3 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .vestidos__titulos {
    color: #e05297;
    text-align: center;
    font-size: 2rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    font-weight: 900;
    padding: 40px 10px 10px; }
  .vestidos__textos {
    color: #dd3c8a;
    text-align: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: garamond;
    font-style: italic;
    margin: 0 auto;
    padding: 28px; } }

@media (min-width: 1000px) {
  header {
    background-color: #ea86b6; }
  body {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(#ea86b6, #ffe6ff); }
  div ul li a {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    font-family: Sanvito, Corsiva;
    font-style: oblique;
    display: inline-block; }
  div ul li a:hover {
    padding: 15px 15px;
    margin: 16px 16px;
    color: #790c5a;
    border: 3px outset #790c5a; }
  .contenedor-banner {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
  .banner__wedding {
    color: #e60099;
    font-size: 2.7rem;
    font-family: garamond;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    margin: 10px 15px; }
  .banner__logo {
    height: 150px;
    padding-left: 40px; }
  .contenedor-footer {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 100%; }
  .footer__contact {
    color: #ea86b6;
    font-family: Garamond;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: inherit; }
  .footer__item1 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item2 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
    .footer__item2 .footer__item3 {
      color: #cc0e74;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: bold;
      border: 3px outset #cc0e74;
      margin: 10px 10px;
      padding: 8px;
      font-family: Sanvito, Corsiva;
      background-color: #ea86b6;
      font-style: oblique;
      position: relative;
      float: right;
      display: inherit; }
      .footer__item2 .footer__item3 .footer__redes {
        display: flex;
        flex-direction: row; }
      .footer__item2 .footer__item3 .redes1 {
        height: 30px;
        width: 30px;
        margin: 0 2px 5px; }
      .footer__item2 .footer__item3 .redes2 {
        height: 30px;
        width: 30px;
        margin: 0 2px 5px; }
      .footer__item2 .footer__item3 .redes3 {
        height: 30px;
        width: 30px;
        margin: 0 2px 5px; }
        .footer__item2 .footer__item3 .redes3 .vestidos__titulos {
          color: #e05297;
          text-align: center;
          font-size: 2rem;
          font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
          font-style: italic;
          text-transform: uppercase;
          text-align: center;
          font-weight: 900;
          margin: 0 auto;
          font-weight: 900;
          padding: 40px 10px 10px; }
        .footer__item2 .footer__item3 .redes3 .vestidos__textos {
          color: #dd3c8a;
          text-align: center;
          font-size: 2rem;
          text-align: center;
          font-weight: bold;
          font-family: garamond;
          font-style: italic;
          margin: 0 auto;
          padding: 28px; } }
  @media (min-width: 1000px) and (min-width: 1200px) {
    .footer__item2 header {
      background-color: #ea86b6; }
    .footer__item2 body {
      margin: 0 auto;
      position: relative;
      margin: 0 auto;
      background-image: linear-gradient(#ea86b6, #ffe6ff); }
    .footer__item2 div ul li a {
      color: #cc0e74;
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: bold;
      border: 3px outset #cc0e74;
      margin: 10px 10px;
      font-family: Sanvito, Corsiva;
      font-style: oblique;
      display: inline-block; }
    .footer__item2 div ul li a:hover {
      padding: 15px 15px;
      margin: 16px 16px;
      color: #790c5a;
      border: 3px outset #790c5a; }
    .footer__item2 .contenedor-banner {
      background-image: URL("../images/imagenes.jpg");
      width: 100%;
      height: 12rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; }
    .footer__item2 .banner__wedding {
      color: #e60099;
      font-size: 2.7em;
      font-family: garamond;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 900;
      text-align: right;
      margin: 10px 15px; }
    .footer__item2 .banner__logo {
      height: 150px;
      padding-left: 40px; }
    .footer__item2 .contenedor-footer {
      background-image: URL("../images/imagenes.jpg");
      width: 100%;
      height: 100%; }
    .footer__item2 .footer__contact {
      color: #ea86b6;
      font-family: Garamond;
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: bold;
      text-align: inherit; }
    .footer__item2 .footer__item1 {
      color: #cc0e74;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: bold;
      border: 3px outset #cc0e74;
      margin: 10px 10px;
      padding: 8px;
      font-family: Sanvito, Corsiva;
      background-color: #ea86b6;
      font-style: oblique;
      position: relative;
      float: right;
      display: inherit; }
    .footer__item2 .footer__item2 {
      color: #cc0e74;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: bold;
      border: 3px outset #cc0e74;
      margin: 10px 10px;
      padding: 8px;
      font-family: Sanvito, Corsiva;
      background-color: #ea86b6;
      font-style: oblique;
      position: relative;
      float: right;
      display: inherit; }
    .footer__item2 .footer__item3 {
      color: #cc0e74;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: bold;
      border: 3px outset #cc0e74;
      margin: 10px 10px;
      padding: 8px;
      font-family: Sanvito, Corsiva;
      background-color: #ea86b6;
      font-style: oblique;
      position: relative;
      float: right;
      display: inherit; }
    .footer__item2 .footer__redes {
      display: flex;
      flex-direction: row; }
    .footer__item2 .redes1 {
      height: 30px;
      width: 30px;
      margin: 0 2px 5px; }
    .footer__item2 .redes2 {
      height: 30px;
      width: 30px;
      margin: 0 2px 5px; }
    .footer__item2 .redes3 {
      height: 30px;
      width: 30px;
      margin: 0 2px 5px; } }

@media (min-width: 1000px) {
    .footer__item2 .vestidos__titulos {
      color: #e05297;
      text-align: center;
      font-size: 2rem;
      font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      font-style: italic;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      margin: 0 auto;
      font-weight: 900;
      padding: 40px 10px 10px; }
    .footer__item2 .vestidos__textos {
      color: #dd3c8a;
      text-align: center;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      font-family: garamond;
      font-style: italic;
      margin: 0 auto;
      padding: 28px; } }

@media (min-width: 1000px) and (min-width: 3000px) {
  header {
    background-color: #ea86b6; }
  body {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(#ea86b6, #ffe6ff); }
  div ul li a {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    font-family: Sanvito, Corsiva;
    font-style: oblique;
    display: inline-block; }
  div ul li a:hover {
    padding: 15px 15px;
    margin: 16px 16px;
    color: #790c5a;
    border: 3px outset #790c5a; }
  .contenedor-banner {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
  .banner__wedding {
    color: #e60099;
    font-size: 2.7em;
    font-family: garamond;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    margin: 10px 15px; }
  .banner__logo {
    height: 150px;
    padding-left: 40px; }
  .contenedor-footer {
    background-image: URL("../images/imagenes.jpg");
    width: 100%;
    height: 100%; }
  .footer__contact {
    color: #ea86b6;
    font-family: Garamond;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: inherit; }
  .footer__item1 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item2 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__item3 {
    color: #cc0e74;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    border: 3px outset #cc0e74;
    margin: 10px 10px;
    padding: 8px;
    font-family: Sanvito, Corsiva;
    background-color: #ea86b6;
    font-style: oblique;
    position: relative;
    float: right;
    display: inherit; }
  .footer__redes {
    display: flex;
    flex-direction: row; }
  .redes1 {
    height: 30px;
    width: 30px;
    margin: 0 2px 5px; }
  .redes2 {
    height: 30px;
    width: 30px;
    margin: 0 2px 5px; }
  .redes3 {
    height: 30px;
    width: 30px;
    margin: 0 2px 5px; }
  .vestidos__titulos {
    color: #e05297;
    text-align: center;
    font-size: 2rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    font-weight: 900;
    padding: 40px 10px 10px; }
  .vestidos__textos {
    color: #dd3c8a;
    text-align: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: garamond;
    font-style: italic;
    margin: 0 auto;
    padding: 28px; } }
