$titulos: #cc0e74;
$fondo:#ea86b6;
$widht: 100%;
$family:Century Gothic,
CenturyGothic,
AppleGothic,
sans-serif;
$color: #e05297;
$hover: #790c5a;
$wedding: #e60099;
$nosotros: #f0a8cb;
$sombra:#e467a4;
$texto:#dd3c8a;
$ttransf:uppercase;
$bld: bold;
$cap: capitalize;
$grey: rgb(77, 77, 77);
$chover: #990099;

@mixin box-form {
	font-family: $family;
	text-transform: $ttransf;
	font-weight: $bld;
	font-size: 1.5rem;
}

@mixin box-fieldset {
	font-family: $family;
	text-transform: $ttransf;
}

@mixin titulos {
	color: $titulos;
	text-align: center;
	font-size: 3.4em;
	font-family: $family;
	text-transform: $ttransf;
	padding: 40px;
	text-align: center;
	margin: 0 auto;
	font-weight: $bld;

}

@mixin nav {
	color: $titulos;
	text-transform: $cap;
	font-size: 24px;
	font-weight: bold;
	border: 3px outset $titulos;
	margin: 10px 10px;
	padding: 8px;
	font-family: Sanvito, Corsiva;
	background-color: $fondo;
	font-style: oblique;
	position: relative;
	float: right;
}

@mixin redes {
	height: 30px;
	width: 30px;
	margin: 0 2px 5px;
}

/*banner y navegador*/

header {
	background-color: $fondo;
}

body {
	margin: 0 auto;
	position: relative;
	margin: 0 auto;
	background-image: linear-gradient($fondo, #ffe6ff);
}

div {
	ul {
		li {
			a {
				color: $titulos;
				text-transform: $cap;
				font-size: 24px;
				font-weight: $bld;
				border: 3px outset $titulos;
				margin: 10px 10px;
				font-family: Sanvito, Corsiva;
				font-style: oblique;
				display: inline-block;
			}
		}
	}
}

div ul li a:hover {
	padding: 15px 15px;
	margin: 16px 16px;
	color: $hover;
	border: 3px outset $hover;
}

.contenedor-banner {
	background-image: URL("../images/imagenes.jpg");
	width: $widht;
	height: 12rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.banner__wedding {
	color: $wedding;
	font-size: 2.7em;
	font-family: garamond;
	font-style: italic;
	text-transform: $ttransf;
	font-weight: 900;
	text-align: right;
	margin: 10px 15px;
}

.banner__logo {
	height: 150px;
	padding-left: 40px;
}

/*fotter*/

.contenedor-footer {
	background-image: URL("../images/imagenes.jpg");
	width: $widht;
	height: 100%;
}

.footer__contact {
	color: $fondo;
	font-family: Garamond;
	font-size: 1.5em;
	text-transform: $ttransf;
	font-weight: $bld;
}

.footer__item1 {
	@include nav
}

.footer__item2 {
	@include nav
}

.footer__item3 {
	@include nav
}

ol li {
	list-style: none;
}

.footer__redes {
	display: flex
}

.redes1 {
	@include redes
}

.redes2 {
	@include redes
}

.redes3 {
	@include redes
}

a:hover {
	color: $chover;
	text-decoration: none;
	padding: 15px 15px;
	margin: 16px 16px;
	color: $hover;
}

nav {
	ul {
		list-style: none;
		font-size: 20px;

		li {
			font-size: 20px;
			position: relative;
			margin-bottom: 10px;

			li {
				position: absolute;
				display: none;
				padding: 13px
			}

			li {
				display: block;
				width: 20px;
			}
		}
	}
}

/*quienes somos*/

.contenedor-nosotros {
	background: $nosotros;
	margin: 23px 10px 20px 10px;
	overflow: hidden;
	padding: 20px;
	border: 5px solid $nosotros;
	border-radius: 99px 99px 99px 99px;
	-moz-border-radius: 99px 99px 99px 99px;
	-webkit-border-radius: 99px 99px 99px 99px;
	-webkit-box-shadow: 0px 3px 28px 11px $sombra;
	-moz-box-shadow: 0px 3px 28px 11px $sombra;
	box-shadow: 0px 3px 28px 11px $sombra;
}

.nosotros__titulos {
	@include titulos
}

.nosotros__textos {
	color: $texto;
	font-size: 1.8em;
	font-family: garamond;
	font-weight: $bld;
	padding: 10px;
	margin: 25px 39px 37px;
	text-align: center;
	text-transform: $cap;
}

/*nuestras novia*/

.novias__titulos {
	@include titulos
}

.novias__texto {
	color: $texto;
	font-size: 1.4rem;
	font-weight: $bld;
	text-align: center;
	margin: 0 auto;
	padding: 35px;
	font-family: $family;
}

.novias__nombres {
	color: $color;
	font-family: $family;
	font-size: 2em;
	font-weight: bold;
	text-transform: $cap;
	text-align: center;
	margin: 0 auto;
	padding: 35px;
}

/*vestidos*/

.contenedor-vestidos {
	@include titulos
}

.vestidos__titulos {
	color: $color;
	text-align: center;
	font-size: 2em;
	font-family: $family;
	font-style: italic;
	text-transform: $ttransf;
	text-align: center;
	font-weight: 900;
	margin: 0 auto;
	font-weight: 900;
	padding: 40px 10px 10px;
}

.vestidos__textos {
	color: $texto;
	text-align: center;
	font-size: 2rem;
	text-align: center;
	font-weight: $bld;
	font-family: garamond;
	font-style: italic;
	margin: 0 auto;
	padding: 28px;
}

/*weddingplanning*/

.contenedor-planner {
	font-family: $family;
	color: $grey;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	background: $fondo;
	margin: 20px 25px 25px;
	overflow: hidden;
	padding: 20px;
	border-radius: 163px 0px 125px 5px;
	border: 3px solid $fondo;
	-webkit-box-shadow: 17px 4px 26px 0px $sombra;
	-moz-box-shadow: 17px 4px 26px 0px $sombra;
	box-shadow: 17px 4px 26px 0px $sombra;
}

.planner__lista {
	list-style: none;
	text-transform: $ttransf;
}

.planner__textos {
	font-family: $family;
	color: $grey;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	text-transform: $ttransf;
	margin: 0 auto;
	padding: 28px;
}

fieldset {
	border: 2em dotted #999;
	text-align: center;
	border-style: none;
	padding: 20px;

	label {
		@include box-fieldset
	}
}

select {
	@include box-fieldset
}

input {
	width: 150px;
	height: 31px;
	transition: all 2s;
	text-transform: $cap;
}

input:focus {
	width: 220px;
	font-size: 24px;
}

.formulario {
	@include box-form
}

@media (min-width: 576px) {

	body {
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
		background-image: linear-gradient($fondo, #ffe6ff);
	}

	header a {
		display: flex;
		flex-direction: row;
		font-size: 20px;
	}

	.contenedor-banner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.banner__logo {
		height: 100px;
		padding-left: 15px;
	}

	.banner__wedding {
		font-size: 3.2em;
		text-align: center;
		font-weight: bold;
	}

	.footer__item1 {
		display: none;
	}

	.footer__item2 {
		display: none;
	}

	.footer__item3 {
		display: none;
	}

	.footer__redes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.redes1 {
		height: 50px;
		width: 50px;
		justify-content: center;
	}

	ol li {
		list-style: none;
	}

	.redes2 {
		height: 50px;
		width: 50px;
		justify-content: center;
	}

	ol li {
		list-style: none;
	}

	.redes3 {
		height: 50px;
		width: 50px;
		justify-content: center;
	}

	ol li {
		list-style: none;
	}

	.footer__contact {
		font-size: 3.5em;
		padding: 5px 5px;
		margin: 2px 2px;
		text-align: center;
	}

	.vestidos__titulos {
		color: #e05297;
		text-align: center;
		font-size: 2rem;
		font-family: $family;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 0 auto;
		font-weight: 900;
		padding: 40px 10px 10px;
	}

	.vestidos__textos {
		color: #dd3c8a;
		text-align: center;
		font-size: 1.8rem;
		text-align: center;
		font-weight: bold;
		font-family: garamond;
		src: url('garamond-italic.ttf');
		font-style: italic;
		margin: 0 auto;
		padding: 28px;
	}
}

@media (min-width: 768px) {
	header {
		background-color: $fondo;
	}

	body {
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
		background-image: linear-gradient($fondo, #ffe6ff);
	}

	div {
		ul {
			li {
				a {
					color: #cc0e74;
					text-transform: capitalize;
					font-size: 24px;
					font-weight: bold;
					border: 3px outset #cc0e74;
					margin: 10px 10px;
					font-family: Sanvito, Corsiva;
					font-style: oblique;
					display: inline-block;
				}
			}
		}
	}

	div ul li a:hover {
		padding: 15px 15px;
		margin: 16px 16px;
		color: #790c5a;
		border: 3px outset #790c5a;
	}

	.contenedor-banner {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 12rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.banner__wedding {
		color: #e60099;
		font-size: 2.7em;
		font-family: garamond;
		font-style: italic;
		text-transform: uppercase;
		font-weight: 900;
		text-align: right;
		margin: 10px 15px;
	}

	.banner__logo {
		height: 150px;
		padding-left: 40px;
	}

	.contenedor-footer {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 100%;
	}

	.footer__contact {
		color: #ea86b6;
		font-family: Garamond;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	.footer__item1 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item2 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item3 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.vestidos__titulos {
		color: #e05297;
		text-align: center;
		font-size: 2rem;
		font-family: $family;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 0 auto;
		font-weight: 900;
		padding: 40px 10px 10px;
	}

	.vestidos__textos {
		color: #dd3c8a;
		text-align: center;
		font-size: 1.8rem;
		text-align: center;
		font-weight: bold;
		font-family: garamond;
		src: url('garamond-italic.ttf');
		font-style: italic;
		margin: 0 auto;
		padding: 28px;
	}
}


@media (min-width: 992px) {
	header {
		background-color: $fondo;
	}

	body {
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
		background-image: linear-gradient($fondo, #ffe6ff);
	}

	div {
		ul {
			li {
				a {
					color: #cc0e74;
					text-transform: capitalize;
					font-size: 24px;
					font-weight: bold;
					border: 3px outset #cc0e74;
					margin: 10px 10px;
					font-family: Sanvito, Corsiva;
					font-style: oblique;
					display: inline-block;
				}
			}
		}
	}

	div ul li a:hover {
		padding: 15px 15px;
		margin: 16px 16px;
		color: #790c5a;
		border: 3px outset #790c5a;
	}

	.contenedor-banner {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 12rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.banner__wedding {
		color: #e60099;
		font-size: 2.7em;
		font-family: garamond;
		font-style: italic;
		text-transform: uppercase;
		font-weight: 900;
		text-align: right;
		margin: 10px 15px;
	}

	.banner__logo {
		height: 150px;
		padding-left: 40px;
	}

	.contenedor-footer {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 100%;
	}

	.footer__contact {
		color: #ea86b6;
		font-family: Garamond;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	.footer__item1 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item2 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item3 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.vestidos__titulos {
		color: #e05297;
		text-align: center;
		font-size: 2.3rem;
		font-family: $family;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 0 auto;
		font-weight: 900;
		padding: 40px 10px 10px;
	}

	.vestidos__textos {
		color: #dd3c8a;
		text-align: center;
		font-size: 2.1rem;
		text-align: center;
		font-weight: bold;
		font-family: garamond;
		src: url('garamond-italic.ttf');
		font-style: italic;
		margin: 0 auto;
		padding: 28px;
	}
}

@media (min-width: 1000px) {
	header {
		background-color: $fondo;
	}

	body {
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
		background-image: linear-gradient($fondo, #ffe6ff);
	}

	div {
		ul {
			li {
				a {
					color: #cc0e74;
					text-transform: capitalize;
					font-size: 24px;
					font-weight: bold;
					border: 3px outset #cc0e74;
					margin: 10px 10px;
					font-family: Sanvito, Corsiva;
					font-style: oblique;
					display: inline-block;
				}
			}
		}
	}

	div ul li a:hover {
		padding: 15px 15px;
		margin: 16px 16px;
		color: #790c5a;
		border: 3px outset #790c5a;
	}

	.contenedor-banner {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 12rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.banner__wedding {
		color: #e60099;
		font-size: 2.7em;
		font-family: garamond;
		font-style: italic;
		text-transform: uppercase;
		font-weight: 900;
		text-align: right;
		margin: 10px 15px;
	}

	.banner__logo {
		height: 150px;
		padding-left: 40px;
	}

	.contenedor-footer {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 100%;
	}

	.footer__contact {
		color: #ea86b6;
		font-family: Garamond;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		text-align: inherit;
	}

	.footer__item1 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item2 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item3 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;

		.footer__redes {
			display: flex;
			flex-direction: row;
		}

		.redes1 {
			height: 30px;
			width: 30px;
			margin: 0 2px 5px;

		}

		.redes2 {
			height: 30px;
			width: 30px;
			margin: 0 2px 5px;

		}

		.redes3 {
			height: 30px;
			width: 30px;


			.vestidos__titulos {
				color: #e05297;
				text-align: center;
				font-size: 2em;
				font-family: $family;
				font-style: italic;
				text-transform: uppercase;
				text-align: center;
				font-weight: 900;
				margin: 0 auto;
				font-weight: 900;
				padding: 40px 10px 10px;
			}

			.vestidos__textos {
				color: #dd3c8a;
				text-align: center;
				font-size: 2rem;
				text-align: center;
				font-weight: bold;
				font-family: garamond;
				font-style: italic;
				margin: 0 auto;
				padding: 28px;
			}
		}
	}

	.vestidos__titulos {
		color: #e05297;
		text-align: center;
		font-size: 2.3rem;
		font-family: $family;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 0 auto;
		font-weight: 900;
		padding: 40px 10px 10px;
	}

	.vestidos__textos {
		color: #dd3c8a;
		text-align: center;
		font-size: 2.1rem;
		text-align: center;
		font-weight: bold;
		font-family: garamond;
		font-style: italic;
		margin: 0 auto;
		padding: 28px;
	}
}

@media (min-width: 1200px) {
	header {
		background-color: $fondo;
	}

	body {
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
		background-image: linear-gradient($fondo, #ffe6ff);
	}

	div {
		ul {
			li {
				a {
					color: #cc0e74;
					text-transform: capitalize;
					font-size: 24px;
					font-weight: bold;
					border: 3px outset #cc0e74;
					margin: 10px 10px;
					font-family: Sanvito, Corsiva;
					font-style: oblique;
					display: inline-block;
				}
			}
		}
	}

	div ul li a:hover {
		padding: 15px 15px;
		margin: 16px 16px;
		color: #790c5a;
		border: 3px outset #790c5a;
	}

	.contenedor-banner {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 12rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.banner__wedding {
		color: #e60099;
		font-size: 2.7em;
		font-family: garamond;
		font-style: italic;
		text-transform: uppercase;
		font-weight: 900;
		text-align: right;
		margin: 10px 15px;
	}

	.banner__logo {
		height: 150px;
		padding-left: 40px;
	}

	.contenedor-footer {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 100%;
	}

	.footer__contact {
		color: #ea86b6;
		font-family: Garamond;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		text-align: inherit;
	}

	.footer__item1 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item2 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item3 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;

		.footer__redes {
			display: flex;
			flex-direction: row;
		}

		.redes1 {
			height: 30px;
			width: 30px;
			margin: 0 2px 5px;

		}

		.redes2 {
			height: 30px;
			width: 30px;
			margin: 0 2px 5px;

		}

		.redes3 {
			height: 30px;
			width: 30px;


		}
	}

	.vestidos__titulos {
		color: #e05297;
		text-align: center;
		font-size: 2.3rem;
		font-family: $family;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 0 auto;
		font-weight: 900;
		padding: 40px 10px 10px;
	}

	.vestidos__textos {
		color: #dd3c8a;
		text-align: center;
		font-size: 2.1rem;
		text-align: center;
		font-weight: bold;
		font-family: garamond;
		src: url('garamond-italic.ttf');
		font-style: italic;
		margin: 0 auto;
		padding: 28px;
	}
}

@media (min-width: 3000px) {
	header {
		background-color: $fondo;
	}

	body {
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
		background-image: linear-gradient($fondo, #ffe6ff);
	}

	div {
		ul {
			li {
				a {
					color: #cc0e74;
					text-transform: capitalize;
					font-size: 24px;
					font-weight: bold;
					border: 3px outset #cc0e74;
					margin: 10px 10px;
					font-family: Sanvito, Corsiva;
					font-style: oblique;
					display: inline-block;
				}
			}
		}
	}

	div ul li a:hover {
		padding: 15px 15px;
		margin: 16px 16px;
		color: #790c5a;
		border: 3px outset #790c5a;
	}

	.contenedor-banner {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 12rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.banner__wedding {
		color: #e60099;
		font-size: 2.7em;
		font-family: garamond;
		font-style: italic;
		text-transform: uppercase;
		font-weight: 900;
		text-align: right;
		margin: 10px 15px;
	}

	.banner__logo {
		height: 150px;
		padding-left: 40px;
	}

	.contenedor-footer {
		background-image: URL("../images/imagenes.jpg");
		width: 100%;
		height: 100%;
	}

	.footer__contact {
		color: #ea86b6;
		font-family: Garamond;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		text-align: inherit;
	}

	.footer__item1 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item2 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;
	}

	.footer__item3 {
		color: #cc0e74;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		border: 3px outset #cc0e74;
		margin: 10px 10px;
		padding: 8px;
		font-family: Sanvito, Corsiva;
		background-color: #ea86b6;
		font-style: oblique;
		position: relative;
		float: right;
		display: inherit;

		.footer__redes {
			display: flex;
			flex-direction: row;
		}

		.redes1 {
			height: 30px;
			width: 30px;
			margin: 0 2px 5px;

		}

		.redes2 {
			height: 30px;
			width: 30px;
			margin: 0 2px 5px;

		}

		.redes3 {
			height: 30px;
			width: 30px;


		}

		.vestidos__titulos {
			color: #e05297;
			text-align: center;
			font-size: 2em;
			font-family: $family;
			font-style: italic;
			text-transform: uppercase;
			text-align: center;
			font-weight: 900;
			margin: 0 auto;
			font-weight: 900;
			padding: 40px 10px 10px;
		}

		.vestidos__textos {
			color: #dd3c8a;
			text-align: center;
			font-size: 2rem;
			text-align: center;
			font-weight: bold;
			font-family: garamond;
			src: url('garamond-italic.ttf');
			font-style: italic;
			margin: 0 auto;
			padding: 28px;
		}
	}

	.vestidos__titulos {
		color: #e05297;
		text-align: center;
		font-size: 2.3rem;
		font-family: $family;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 0 auto;
		font-weight: 900;
		padding: 40px 10px 10px;
	}

	.vestidos__textos {
		color: #dd3c8a;
		text-align: center;
		font-size: 2.1rem;
		text-align: center;
		font-weight: bold;
		font-family: garamond;
		font-style: italic;
		margin: 0 auto;
		padding: 28px;
	}
}